:root {
  --skier-height: 30px;
}

div {
  background-repeat: no-repeat;
}


#tabuleiro {
  border-style: solid;
  border-color: black;
  position: relative;
  overflow: hidden;
}


.arvore-normal {
  background-image: url("../img/obstacles.png");
  background-position: 0px -28px;
  height: 34px;
  width: 30px;
}

.para-esquerda {
  background-image: url("../img/skier.png");
  background-position: -25px -41px;
  height: var(--skier-height);
  width: 24px;
}

.para-frente {
  background-image: url("../img/skier.png");
  background-position: -65px -4px;
  height: var(--skier-height);
  width: 18px;
}

.para-direita {
  background-image: url("../img/skier.png");
  background-position: -25px -4px;
  height: var(--skier-height);
  width: 24px;
}

.aberto {
  background-image: url("../img/skier.png");
  background-position: -25px -4px;
  background-position: -84px 0px;
  height: 34px;
  width: 34px;
}
