/* obstacles:1 */
.arvore-normal {
  background-image: url("../img/obstacles.png");
  background-position: 0px -28px;
  height: 34px;
  width: 30px;
}

/* obstacles:2 */
.pedra {
  background-image: url("../img/obstacles.png");
  background-position: -28px -50px;
  height: 13px;
  width: 30px;
}

