:root {
  --img-skier: url("../img/skier.png");
}

/* skier:1 */
.parado-direita {
  background-image: var(--img-skier);
  background-position: 0px -6px;
  height: 28px;
  width: 25px;
}

/* skier:2 */
.para-direita {
  background-image: var(--img-skier);
  background-position: -25px -4px;
  height: 30px;
  width: 24px;
}

/* skier:4 */
.para-frente {
  background-image: var(--img-skier);
  background-position: -66px -4px;
  height: 30px;
  width: 17px;
}

/* skier:5 */
.pulando {
  background-image: var(--img-skier);
  background-position: -84px 0px;
  height: 34px;
  width: 34px;
}

/* skier:8 */
.parado-bracos-abertos-direita {
  background-image: var(--img-skier);
  background-position: -180px 0px;
  height: 34px;
  width: 30px;
}

/* skier:10 */
.caido-soterrado {
  background-image: var(--img-skier);
  background-position: -240px 0px;
  height: 33px;
  width: 34px;
}

/* skier:11 */
.parado-esquerda {
  background-image: var(--img-skier);
  background-position: 0px -43px;
  height: 28px;
  width: 25px;
}

/* skier:12 */
.para-esquerda {
  background-image: var(--img-skier);
  background-position: -25px -41px;
  height: 30px;
  width: 24px;
}

/* skier:15 */
.caido-sentado {
  background-image: var(--img-skier);
  background-position: 0px -85px;
  height: 24px;
  width: 33px;
}

/* skier:14 */
.parado-bracos-abertos-esquerda {
  background-image: var(--img-skier);
  background-position: -180px -38px;
  height: 33px;
  width: 30px;
}

/* skier:20 */
.yeti-1 {
  --diff-min-top: 2;
  --diff-max-top: 26;
  --diff-min-left: -4;
  --diff-max-left: 18;
  background-image: var(--img-skier);
  background-position: 0px -112px;
  height: 43px;
  width: 33px;
}

/* skier:21 */
.yeti-2 {
  --diff-min-top: 2;
  --diff-max-top: 26;
  --diff-min-left: -4;
  --diff-max-left: 18;
  background-image: var(--img-skier);
  background-position: -33px -112px;
  height: 43px;
  width: 30px;
}

/* skier:22 */
.yeti-3-direita {
  --diff-min-top: 10;
  --diff-max-top: 30;
  --diff-min-left: -13;
  --diff-max-left: 13;
  background-image: var(--img-skier);
  background-position: -63px -112px;
  height: 43px;
  width: 28px;
}

/* skier:23 */
.yeti-4-direita {
  --diff-min-top: 2;
  --diff-max-top: 26;
  --diff-min-left: -4;
  --diff-max-left: 18;
  background-image: var(--img-skier);
  background-position: -90px -112px;
  height: 43px;
  width: 32px;
}

/* skier:24 */
.yeti-tentando-1 {
  background-image: var(--img-skier);
  background-position: -122px -112px;
  height: 43px;
  width: 35px;
}

/* skier:25 */
.yeti-tentando-2 {
  background-image: var(--img-skier);
  background-position: -156px -112px;
  height: 43px;
  width: 31px;
}

/* skier:26 */
.yeti-comendo-1 {
  background-image: var(--img-skier);
  background-position: -186px -112px;
  height: 43px;
  width: 33px;
}

/* skier:27 */
.yeti-comendo-2 {
  background-image: var(--img-skier);
  background-position: -218px -112px;
  height: 43px;
  width: 25px;
}

/* skier:28 */
.yeti-comendo-3 {
  background-image: var(--img-skier);
  background-position: -242px -112px;
  height: 43px;
  width: 29px;
}

/* skier:29 */
.yeti-comendo-4 {
  background-image: var(--img-skier);
  background-position: 0px -159px;
  height: 42px;
  width: 29px;
}

/* skier:30 */
.yeti-3-esquerda {
  --diff-min-top: 2;
  --diff-max-top: 26;
  --diff-min-left: -4;
  --diff-max-left: 18;
  background-image: var(--img-skier);
  background-position: -63px -158px;
  height: 42px;
  width: 28px;
}

/* skier:31 */
.cachorro-1 {
  --diff-min-top: -18;
  --diff-max-top: 2;
  --diff-min-left: -15;
  --diff-max-left: 12;
  background-image: var(--img-skier);
  background-position: 0px -208px;
  height: 14px;
  width: 21px;
}

/* skier:32 */
.cachorro-2 {
  --diff-min-top: -18;
  --diff-max-top: 2;
  --diff-min-left: -15;
  --diff-max-left: 12;
  background-image: var(--img-skier);
  background-position: -23px -208px;
  height: 14px;
  width: 21px;
}

/* skier:33 */
.cachorro-3 {
  --diff-min-top: -18;
  --diff-max-top: 2;
  --diff-min-left: -15;
  --diff-max-left: 12;
  background-image: var(--img-skier);
  background-position: -47px -204px;
  height: 18px;
  width: 19px;
}

/* skier:34 */
.cachorro-4 {
  --diff-min-top: -18;
  --diff-max-top: 2;
  --diff-min-left: -15;
  --diff-max-left: 12;
  background-image: var(--img-skier);
  background-position: -67px -204px;
  height: 18px;
  width: 19px;
}
