p {
  background-color: #d2d2d2;
  padding: 10px 38px 10px 50px;  /* <top> <right> <bottom> <left>  */
  border: 12px solid black; /* <width> <style> <color */
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
