* { margin: 0; padding: 0; }

body {
  background: #e6f2f9 !important;
  background: linear-gradient(to bottom right, white, #e6f2f9) !important;
}

kbd {
  display: inline-block;
  padding: 3px 5px !important;
  line-height: 10px !important;
  color: #444d56 !important;
  vertical-align: middle !important;
  background-color: #fafbfc !important;
  border: solid 1px #c6cbd1 !important;
  border-bottom-color: #959da5 !important;
  border-radius: 3px !important;
  box-shadow: inset 0 -1px 0 #959da5 !important;
}

#infoBox .infolabel.destaque-negativo {
  color: red;
  font-size: 1.3em;
}

#infoBox .infolabel.destaque-positivo {
  color: green;
  font-size: 1.3em;
}

#infoBox p {
  color: #6B7C93;
  font-size: 1em;
  line-height: 1.4em;
}

#infoBox .infolabel::before {
  content: attr(data-identifier) ": ";
  font-weight: bold;
}

#infoBox .infolabel::after {
  content: attr(data-sufix);
}

.info-box p {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.4em;
}

.caixa {
  font-family: monospace;
  position: absolute;
}

.caixa p { margin: 0% !important; }

#tabuleiro {
  overflow: hidden;
  position: relative;
  width: calc( var(--tabuleiro-largura, 600) * 1px );
  height: calc( var(--tabuleiro-altura, 600) * 1px );

  cursor: none; /* esconder cursor */
  /* desabilitar a seleção do texto */
  -webkit-user-select: none; /* Safari */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#tabuleiro > div {
  width: 100%;
  height: 100%;
  position: absolute;
}

#container-jogo > div {
  position: absolute;

  -webkit-filter: blur( calc( var(--splash-blur) * 1px ) );
     -moz-filter: blur( calc( var(--splash-blur) * 1px ) );
       -o-filter: blur( calc( var(--splash-blur) * 1px ) );
      -ms-filter: blur( calc( var(--splash-blur) * 1px ) );
          filter: blur( calc( var(--splash-blur) * 1px ) );
}

#container-splash {
  text-align: center;
  visibility: var(--splash-visibility, hidden);
  z-index: 1000;
  background: rgba(232, 232, 238, 0.692);
}

#container-splash > div {
  position: relative;
  top: 40%;
}

.panel-footer {
  font-weight: bold;
  text-align: center;
}

[class^="gif-"] {
  -webkit-animation-play-state: var(--game-state, paused);
  animation-play-state: var(--game-state, paused);
}
