* { margin: 0; padding: 0; }

body {
  background: #e6f2f9 !important;
  background: linear-gradient(to bottom right, white, #e6f2f9) !important;
}

kbd {
  display: inline-block;
  padding: 3px 5px !important;
  font-size: 11px !important;
  line-height: 10px !important;
  color: #444d56 !important;
  vertical-align: middle !important;
  background-color: #fafbfc !important;
  border: solid 1px #c6cbd1 !important;
  border-bottom-color: #959da5 !important;
  border-radius: 3px !important;
  box-shadow: inset 0 -1px 0 #959da5 !important;
}

#infoBox .infolabel.destaque-negativo {
  color: red;
  font-size: 1.3em;
}

#infoBox .infolabel.destaque-positivo {
  color: green;
  font-size: 1.3em;
}

#infoBox {
  font-family: monospace;
  background: white;
  position: relative;
}

#infoBox p {
  color: #6B7C93;
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 0.2%;
}

#infoBox .infolabel::before {
  content: attr(data-identifier) ": ";
  font-weight: bold;
}

#infoBox .infolabel::after {
  content: attr(data-sufix);
}

#tabuleiro {
  background-color: white;
  overflow: hidden;
  position: relative;
}

#tabuleiro > div {
  position: absolute;
}

.panel-footer {
  font-weight: bold;
  text-align: center;
}

[class^="gif-"] {
  -webkit-animation-play-state: var(--game-state, paused);
  animation-play-state: var(--game-state, paused);
}
